h1 {
  font-size: 25px;
  font-weight: bold;
  color: #8f8787;
  margin-bottom: 5px;
  line-height: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 45px auto;
  max-width: 550px;
}

.weather-app {
  padding: 30px 35px;
  border: 1px solid gray;
  border-radius: 15px;
}

.main-temp {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.units {
  position: relative;
  top: -9px;
  left: -2px;
  font-size: 14px;
}

.current-high-low,
.current-condition {
  font-weight: bold;
}

.high-low-section {
  position: relative;
  top: 20px;
}

.main-weather-icon {
  margin: 0 -15px;
  position: relative;
  top: -12px;
  width: 90px;
}

.current-condition {
  position: relative;
  top: -30px;
}

.extended-forecast {
  margin-top: -15px;
}

.weekdays {
  font-weight: bold;
}

.dates,
.max-temp {
  font-size: 14px;
}

.min-temp {
  font-size: 12px;
  opacity: 0.5;
}

.weather-icon {
  width: 35px;
  position: relative;
  left: -5px;
}
