ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app-wrapper {
  margin: 45px auto;
  max-width: 550px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
}

.main-city {
  font-size: 25px;
  font-weight: bold;
}
