body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #17a2b8;
  margin-bottom: 5px;
  line-height: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 45px auto;
  max-width: 550px;
}

.weather-app {
  padding: 30px 35px;
  border: 1px solid #d9dad7;
  border-radius: 15px;
  background: #d9dad7;
  box-shadow: 4px 4px 5px rgba(143, 135, 135, 0.5);
}

.main-temp {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.units {
  position: relative;
  top: -13px;
  left: -5px;
  font-size: 20px;
}

.high-low-units {
  position: relative;
  top: -2px;
  font-size: 14px;
}

.current-high-low,
.current-condition {
  font-weight: bold;
}

.high-low-section {
  position: relative;
  top: 20px;
}

.main-weather-icon {
  margin: 0 -15px;
  position: relative;
  top: -12px;
  width: 90px;
}

.current-condition {
  position: relative;
  top: -30px;
}

.extended-forecast {
  margin-top: -15px;
  text-align: center;
  position: relative;
  left: -14px;
}

.weekdays {
  font-weight: bold;
  color: #17a2b8;
}

.max-temp {
  font-size: 14px;
  font-weight: bold;
}

.min-temp {
  font-size: 12px;
  opacity: 0.5;
  font-weight: bold;
}

.max-unit,
.min-unit {
  position: relative;
  top: -1px;
}

.weather-icon {
  width: 45px;
}

.btn {
  box-shadow: 4px 4px 5px rgba(143, 135, 135, 0.5);
}
